* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainSection::before {
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;

  left: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

//Main Section Start
.mainSection {
  position: relative;
  height: auto;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  background-image: url("./assets/mainBackground.png");
  background-size: cover;

  .mainHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding: 10px 60px;

    .mainHeaderLinks {
      display: flex;
      gap: 30px;

      p {
        color: #fff;
        text-align: right;

        font-family: Inter;
        font-size: 14.375px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;

        &:hover {
          color: #e1d8d8;
        }
      }
    }
  }

  .sectionTitle {
    padding: 0 60px;
    width: auto;
    margin-top: 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: #fff;
      position: relative;
      font-family: Inter;
      font-size: 43.945px;
      font-style: normal;
      font-weight: 600;
      line-height: 68px; /* 154.738% */
    }
    button {
      margin-top: 64px;
      display: flex;
      width: 200px;
      height: 55px;
      position: relative;
      border: solid 2px #fff;
      background-color: unset;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .mainOptions {
    width: 100%;
    position: relative;
    height: 230px;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 35% 29.5% 35%;
    justify-content: space-between;

    .boxes {
      background: #808080;
      cursor: pointer;
      &:hover {
        background: #918e8e;
        transition: all 0.5s ease;
      }
      .boxItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;

        div {
          display: grid;
          gap: 10px;
          p {
            color: #fff;
            font-family: Inter;
            font-size: 17.188px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px; /* 168.727% */
          }
        }
      }

      .boxNumber {
        color: #fff;
        font-family: Inter;
        font-size: 140px;
        font-style: normal;
        font-weight: 600;
        opacity: 0.2;
      }
    }
  }
}

//Main Section End

//About Section Start
.aboutSection {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  gap: 70px;

  .aboutWrapper {
    display: flex;
    gap: 40px;
  }

  .aboutBox1 {
    width: 45%;
    height: 300px;
    display: flex;

    p {
      color: #000;
      font-family: Inter;
      font-size: 38.883px;
      font-style: normal;
      font-weight: 600;
      line-height: 65px;
    }

    img {
      position: relative;
      top: 20px;
    }
  }

  .aboutBox2 {
    width: 55%;
    height: 300px;

    p {
      width: 700px;
      color: #000;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 181.01% */
    }

    button {
      width: 200px;
      height: 55px;
      background-color: unset;
      margin-top: 20px;

      a {
        text-decoration: none;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: black;
      }
    }
  }
}
//About Section End

//Resutl Section Start
.resultSection {
  width: 100%;
  height: auto;
  background: #808080;

  h2 {
    color: #fff;
    position: relative;
    text-align: center;
    font-family: Inter;
    font-size: 36.586px;
    font-style: normal;
    font-weight: 600;
    padding: 70px;
  }

  .resultBox {
    display: flex;
    justify-content: center;

    .resultWrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 300px 300px;
      justify-content: space-around;
      align-items: center;
      row-gap: 0px;
      justify-content: space-around;

      div {
        padding: 20px;
        height: 280px;
        width: 320px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .number {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 90px;
          font-style: normal;
          font-weight: 600;
        }

        .line {
          width: 350px;
          height: 3px;
          background-color: #fff;
          opacity: 0.2;
          text-align: center;
          align-items: center;
        }
        .text {
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 19.422px;
          text-align: center;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
  }
}
//Resutl Section End

//Reliable Section Start

.reliableSection {
  width: 100%;
  height: 60vh;
  background-color: #fff;

  .carauselWrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      color: #000;
      font-family: Inter;
      font-size: 37.57px;
      font-style: normal;
      font-weight: 600;
      line-height: 49.14px; /* 130.795% */
    }
  }

  .mainSliderBox {
    height: 100px;

    a {
      color: red;
    }
  }
  .slideMain {
    height: 30vh;
    img {
      width: 140px;
      height: 50px;
      object-fit: contain;
    }
  }
}
//Reliable Section End
//Footer Section Start
.footer {
  width: 100%;
  height: auto;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapperLinks {
    width: 100%;
    height: auto;
    display: flex;
    margin: 40px 0;

    .rightFooterLinks {
      width: 30%;
      height: auto;
    }
    .leftFooterLinks {
      width: 70%;
      height: auto;

      .footerAllLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mainLinks {
          display: flex;
          justify-content: center;
          width: 100%;

          .hrefLinks {
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            a {
              text-decoration: none;
              color: #fff;
              font-family: Inter;
              font-size: 14.75px;
              font-style: normal;
              font-weight: 500;
              line-height: 24.8px;
            }
          }

          .firstLocations,
          .secondLocations {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 33%;

            .box {
              display: flex;
              flex-direction: column;

              span {
                color: #fff;
                font-family: Inter;
                font-size: 12.25px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 179.592% */
              }

              .linkTitle {
                color: #fff;
                font-family: Inter;
                font-size: 12.25px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px; /* 179.592% */
                margin-bottom: 10px;
              }
            }
          }
        }
      }

      .citys {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px;
        border-bottom: solid 1px #fff;
        border-top: solid 2px #fff;

        span {
          color: #fff;
          font-family: Inter;
          font-size: 14.125px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
        }
      }

      .costRate {
        display: flex;
        width: 50%;
        gap: 30px;
        margin-top: 50px;
        .rateConatiner {
          display: flex;
          color: #fff;
          justify-content: center;
          gap: 5px;
          flex-direction: column;
          width: 20%;

          .costType {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .typeRate {
              color: #fff;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
            }

            .number {
              color: #c73f3f;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
//Footer Section End
